* {
    

    font-family: Arial;
    list-style: none;
   
}

body{
    
    background-color:
    #AE70AF;
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 400px;

  }

  form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #F6FFF3;
    color: #AE70AF;
    font-weight: bold;
  }

  form [type="submit"]:hover{
   cursor: pointer
  }

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   color: #F6FFF3;
}

#title{
   
    flex-direction: column;
    line-height: 10px;
}
h1{
    font-weight: 200;
}
li{
   
    display: inline-block;
    margin: 20px;
}
a{
    color: #F6FFF3;
    text-decoration: none;
    font-size: 30px;
}

a:hover{
    color: black;
    transition: 0.3s all;
}

h1{
    font-weight: 200;
}



img{
    width: 300px;
    height: 300px;
}

.containerMain{

    
    padding-bottom: 200px;
    margin-top: 50px;
   

}

.containerMain h1{
   
    font-size: 35px;
    font-weight:bold;
    
    text-align: center;
    padding-top:  100px;
    padding-bottom: 40px;
}

.containerMain p{
    
    font-size: 50px;
    font-weight: 200;
    color: #F6FFF3;
    text-align: center;
 
    
}


.searchBox {
    margin: 0 auto;
    width: 500px;
    position: relative;
    display: flex;
}

.searchTerm{
  width: 100%;
  border: 1px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  margin-left: 20px;

}

.containerNewsletter{
    font-size: 30px;
    font-weight: 300;
    color: #F6FFF3;
    
   
}

.containerSocialMedia{
    display: flex;
    justify-content: space-around;
    
    justify-content: right;
    margin-right: 30px;  
    column-gap: 10px;
}

.containerText
{
    font-size: 50px;
    font-weight: 300;
    color: #F6FFF3;
}
.containerText h1{
    
}